<a href="https://colab.research.google.com/github/saifulislamsarfaraz/Statistics-for-Data-Science/blob/main/CSE303_Lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. Pandas is designed for working with tabular or
heterogeneous data. Pandas must be imported before use.

In [ ]:
import pandas as pd

2. Pandas Series

A Series is a one-dimensional array-like object containing a sequence of values.

In [ ]:
obj = pd.Series([4,7,-5,3])
obj+5

0     9
1    12
2     0
3     8
dtype: int64

In [ ]:
obj*3

0    12
1    21
2   -15
3     9
dtype: int64

In [ ]:
#Scalar Operations
obj[obj%2==0]

0    4
dtype: int64

In [ ]:
#Creating a Series from Dictionary 
sdata = {'Ohio':35000,'Texas':71000,'Origon':16000,'Utah':5000}
obj3 = pd.Series(sdata)
print(obj3)
obj3*3

Ohio      35000
Texas     71000
Origon    16000
Utah       5000
dtype: int64

Ohio      105000
Texas     213000
Origon     48000
Utah       15000
dtype: int64

3. Pandas DataFrame

A DataFrame represents a rectangular table of data and contains an ordered collection of columns,
each of which can be a different value type. The DataFrame has both a row and column index; it can
be thought of as a dictionary of Series all sharing the same index.

In [ ]:
#Constructing Pandas DataFrame:
#1.From List
list1 = [['Alice','2019-2-60-040',23,3.5,10],['Bob','2019-2-60-049',24,3.4,6],['Charlie','2019-2-60-005',22,3.9,8]]
df = pd.DataFrame(list1)
df.columns = ['name','id','age','CGPA','hoursStudied']
print(df.head())

      name             id  age  CGPA  hoursStudied
0    Alice  2019-2-60-040   23   3.5            10
1      Bob  2019-2-60-049   24   3.4             6
2  Charlie  2019-2-60-005   22   3.9             8

In [ ]:
#From Dictionary
dict1 = {'id':[1,2,3],'name':['alice','bob','charlie'],'age':[20,25,32]}
df1 = pd.DataFrame(dict1)
print(df1)

   id     name  age
0   1    alice   20
1   2      bob   25
2   3  charlie   32

In [ ]:
#3.From CSV File
from google.colab import drive
drive.mount('/content/drive')
df2 = pd.read_csv('/content/drive/My Drive/sample_data_1.csv', header=None)
df2.columns = ['id','state','population','murder_rate']
print(df2)
df2.head()
df2.tail()
df2.count()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   id        state  population  murder_rate
0   1      Alabama     4779736          5.7
1   2       Alaska      710231          5.6
2   3      Arizona     6392017          4.7
3   4     Arkansas     2915918          5.6
4   5   California    37253956          4.4
5   6     Colorado     5029196          2.8
6   7  Connecticut     3574097          2.4
7   8     Delaware      897934          5.8

id             8
state          8
population     8
murder_rate    8
dtype: int64

4. Select, Add, Delete, Rename Indices, Rows or Columns of/from a DataFrame

In [ ]:
#Selecting the first cell
print(df1.iloc[0][0])
print(df1.iloc[0]['name'])

1
alice

In [ ]:
#Selecting a few columns
df3 = df[['name','CGPA']]
print(df3)

      name  CGPA
0    Alice   3.5
1      Bob   3.4
2  Charlie   3.9

In [ ]:
#selecting a few rows
df4 = df1.loc[1:2]
print(df4)
df5 = df1.iloc[1:3]
print(df5)

   id     name  age
1   2      bob   25
2   3  charlie   32
   id     name  age
1   2      bob   25
2   3  charlie   32

In [ ]:
#Selecting a few rows and columns 
df4 = df1.loc[1:2,['name','age']]
print(df4)
df5 = df1.iloc[1:3,[0,1]]
print(df5)

      name  age
1      bob   25
2  charlie   32
   id     name
1   2      bob
2   3  charlie

In [ ]:
#appending two dataframes
list1 = [['Alice',23,3.5,10],['Bob',24,3.4,6],['Charlie',22,3.9,8]]
df = pd.DataFrame(list1)
df.columns = ['name','age','cgpa','hoursStudied']

list2 = [['Don',21,2.5,2],['Elton',25,2.75,4]]
df11 = pd.DataFrame(list2)
df11.columns = ['name','age','cgpa','hoursStudied']

df12 = df.append(df11, ignore_index=True)
print(df12)

      name  age  cgpa  hoursStudied
0    Alice   23  3.50            10
1      Bob   24  3.40             6
2  Charlie   22  3.90             8
3      Don   21  2.50             2
4    Elton   25  2.75             4

In [ ]:
#deleting rows/columns from a dataframe
df12.drop([0,1],inplace=True)
df12.drop(['cgpa'],axis=1,inplace=True)
df12

      name  age  hoursStudied
2  Charlie   22             8
3      Don   21             2
4    Elton   25             4

In [ ]:
#Renaming columns 
new_cols = ['n','a','hs']
df12.columns=new_cols
print(df12)

         n   a  hs
2  Charlie  22   8
3      Don  21   2
4    Elton  25   4

5. Data Filtering, Sorting

In [ ]:
cgpa_greater_that_three_point_five1 = df[df['cgpa']>3.5]
print(cgpa_greater_that_three_point_five1)

      name  age  cgpa  hoursStudied
2  Charlie   22   3.9             8

In [ ]:
cgpa_greater_that_three_point_five2 = df.loc[df['cgpa']>3.5]
print(cgpa_greater_that_three_point_five2)

      name  age  cgpa  hoursStudied
2  Charlie   22   3.9             8

In [ ]:
cgpa_greater_that_three_point_five3 = df.query('cgpa > 3.5')
print(cgpa_greater_that_three_point_five3)

      name  age  cgpa  hoursStudied
2  Charlie   22   3.9             8

In [ ]:
df.sort_values(by=['age'])
df

      name  age  cgpa  hoursStudied
0    Alice   23   3.5            10
1      Bob   24   3.4             6
2  Charlie   22   3.9             8