<a href="https://colab.research.google.com/github/saifulislamsarfaraz/Statistics-for-Data-Science/blob/main/CSE303_Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

**Basic in pyhton**

List: can contain a number of different types of elements.

---


Loop: 

---


list Comprehension:

In [ ]:
list2 =[]
for i in range ( 1,100,1):
    if i%2!=0:
      print(i)
      list2.append(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
oddNumbers = [i for i in range(1,100,1) if i %2!=0]
oddNumbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
list1=['Alice',14,'01/01/210199', 1234.678]
print(list1)

['Alice', 14, '01/01/210199', 1234.678]

In [ ]:
print(list1[1])

14

In [ ]:
for i in range(0,len(list1)):
  print(list1[i])

Alice
14
01/01/210199
1234.678

In [ ]:
list1.append("bob")

In [ ]:
print(list1)

['Alice', 14, '01/01/210199', 1234.678, 'bob']

# Lab 1 Problem and Solution

**Question Number 1:** Given two integer numbers, write a Python program to return their product. If the product is greater
than 1000, then return their sum. Read inputs from the user.

In [ ]:
def main(first_name,second_name):
  product = int(first_number * second_number)
  print("product is : " ,type(product))
  if product>1000:
    return int(first_number + second_number)

In [ ]:
if __name__ == "__main__":
  first_number = int(input("Enter first Number:"))
  second_number = int(input("Enter second Number:"))
  result = int(main(first_number,second_number))
  print("result is :", result)

Enter first Number:40
Enter second Number:50
product is :  <class 'int'>
result is : 90

**Question Number 2:** Write a Python program to find the area and perimeter of a circle. Read inputs from the user.

In [ ]:
from math import pi

In [ ]:
def areaOfCircle(r):
  area = (pi * r**2)
  return area

In [ ]:
def perimeterOfCircle(r):
  perimeter=2*pi*r
  return perimeter

In [ ]:
if __name__ == "__main__":
  redius = int(input("Enter Area Of a Circle:"))
  resultOfRedius = int(areaOfCircle(redius))
  print("result of Area :", resultOfRedius)
  resultOfPerimiter = int(perimeterOfCircle(redius))
  print("result of Perimiter : ", resultOfPerimiter)

Enter Area Of a Circle:5
result of Area : 78
result of Perimiter :  31

**Question number 3:** Write a Python program to calculate the compound interest based on the given formula. Read inputs
from the user.

![image.png]()

where P is the principle amount, R is the interest rate and T is time (in years).

In [20]:
import math
p,r,t = [int(x) for x in input("Enter Principle of amount, Rate of Interest and Time: ").split()]
a = p*(1 + r/100)**t
print("Compound Interest Is : " , a)

Enter Principle of amount, Rate of Interest and Time: 600000 2 2
Compound Interest Is :  624240.0

**Question number 6:**
Given a positive integer n (read from the user), write a Python program to find the n-th Fibonacci
number based on the following assumptions.
Fn = Fn-1 + Fn-2 where F0 = 0 and F1 = 1

In [ ]:
f0=0
f1=1
result=0
number = int(input("Enter a number:"))
for i in range(0,int(number-1),1):
        result = f0 + f1
        f0 = f1
        f1 = result
result

Enter a number:8

21

In [ ]:
f0=0
f1=1
result=0
list = []
number = int(input("Enter a number:"))
for i in range(0,int(number-1),1):
        list.append(result)
        result = f0 + f1
        f0 = f1
        f1 = result
result
print(result)
list.append(result)

Enter a number:5
5

In [ ]:
print(list)

[0, 1, 2, 3, 5]

The exact value of the golden ratio can be calculated by:
`ϕ = (1+√5) / 2`
    [Golden Ratio Rule](https://www.investopedia.com/articles/technical/04/033104.asp#:~:text=The%20essential%20part%20is%20that,the%20divine%20proportion%2C%20among%20others.)

In [ ]:
import math 
sqrt5 = math.sqrt(5)
print(sqrt5)
golden_ratio1 = (1+sqrt5)/2
golden_ratio2 = (1-sqrt5)/2
number = int(input("Enter a Number: "))
series = [int(( math.pow(golden_ratio1, n) - math.pow(golden_ratio2,n)) / sqrt5) for n in range(0, number+1 ,1)]
print("nth fibonacci number is : " , series[len(series)-1])
series

2.23606797749979
Enter a Number: 5
nth fibonacci number is :  5

[0, 1, 1, 2, 3, 5]