<a href="https://colab.research.google.com/github/saifulislamsarfaraz/Statistics-for-Data-Science/blob/main/CSE303_Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Md Saiful
# ID: 2019-2-60-040

# Basic Python

**Basic in pyhton**

List: can contain a number of different types of elements.

---


Loop: 

---


list Comprehension:

In [ ]:
list2 =[]
for i in range ( 1,100,1):
    if i%2!=0:
      print(i)
      list2.append(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
oddNumbers = [i for i in range(1,100,1) if i %2!=0]
oddNumbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
list1=['Alice',14,'01/01/210199', 1234.678]
print(list1)

['Alice', 14, '01/01/210199', 1234.678]

In [ ]:
print(list1[1])

14

In [ ]:
for i in range(0,len(list1)):
  print(list1[i])

Alice
14
01/01/210199
1234.678

In [ ]:
list1.append("bob")

In [ ]:
print(list1)

['Alice', 14, '01/01/210199', 1234.678, 'bob']

# Lab 1 Problem and Solution

**Question Number 1:** Given two integer numbers, write a Python program to return their product. If the product is greater
than 1000, then return their sum. Read inputs from the user.

In [ ]:
def main(first_name,second_name):
  product = int(first_number * second_number)
  print("product is : " ,type(product))
  if product>1000:
    return int(first_number + second_number)

In [ ]:
if __name__ == "__main__":
  first_number = int(input("Enter first Number:"))
  second_number = int(input("Enter second Number:"))
  result = int(main(first_number,second_number))
  print("result is :", result)

Enter first Number:40
Enter second Number:50
product is :  <class 'int'>
result is : 90

**Question Number 2:** Write a Python program to find the area and perimeter of a circle. Read inputs from the user.

In [ ]:
from math import pi

In [ ]:
def areaOfCircle(r):
  area = (pi * r**2)
  return area

In [ ]:
def perimeterOfCircle(r):
  perimeter=2*pi*r
  return perimeter

In [ ]:
if __name__ == "__main__":
  redius = int(input("Enter Area Of a Circle:"))
  resultOfRedius = int(areaOfCircle(redius))
  print("result of Area :", resultOfRedius)
  resultOfPerimiter = int(perimeterOfCircle(redius))
  print("result of Perimiter : ", resultOfPerimiter)

Enter Area Of a Circle:5
result of Area : 78
result of Perimiter :  31

**Question number 3:** Write a Python program to calculate the compound interest based on the given formula. Read inputs
from the user.

![image.png]()

where P is the principle amount, R is the interest rate and T is time (in years).

In [ ]:
import math
p,r,t = [int(x) for x in input("Enter Principle of amount, Rate of Interest and Time: ").split()]
a = p*(1 + r/100)**t
print("Compound Interest Is : " , a)

Enter Principle of amount, Rate of Interest and Time: 600000 2 2
Compound Interest Is :  624240.0

**Question Number 4:** Given a positive integer N (read from the user), write a Python program to calculate the value of the
following series.

![image.png]()

In [ ]:
number = int(input("Enter a Positive Number:"))
sum = 0
for i in range(1, int(number+1),1):
  sum += math.pow(i,2)

sum

Enter a Positive Number:2

5.0

**Question Number 5:** Given a positive integer N (read from the user), write a Python program to check if the number is
prime or not. Define a function named as prime_find_(your-student-id) in your program.

In [ ]:
def prime_find_2019_2_60_040(number):
  flag = 1
  if number==1:
    flag = 0
    return flag
  else:
    for i in range(2, number):
      if (number%i)==0:
        flag = 0
  return flag
if __name__ == "__main__":
  number = int(input("Enter a Positive Number: "))
  prime_or_not = prime_find_2019_2_60_040(number)
  print("Prime Number") if prime_or_not == 1 else print("Not Prime")

Enter a Positive Number: 11
Prime Number

In [ ]:
#list comprehension 
number = int(input("Enter a Number:"))
[x for x in range(2, number)
     if all(x % y != 0 for y in range(2, x))]

**Question number 6:**
Given a positive integer n (read from the user), write a Python program to find the n-th Fibonacci
number based on the following assumptions.
Fn = Fn-1 + Fn-2 where F0 = 0 and F1 = 1

In [ ]:
f0=0
f1=1
result=0
number = int(input("Enter a number:"))
for i in range(0,int(number-1),1):
        result = f0 + f1
        f0 = f1
        f1 = result
result

Enter a number:8

21

In [ ]:
f0=0
f1=1
result=0
list = []
number = int(input("Enter a number:"))
for i in range(0,int(number-1),1):
        list.append(result)
        result = f0 + f1
        f0 = f1
        f1 = result
result
print(result)
list.append(result)

Enter a number:5
5

In [ ]:
print(list)

[0, 1, 2, 3, 5]

The exact value of the golden ratio can be calculated by:
`ϕ = (1+√5) / 2`
    [Golden Ratio Rule](https://www.investopedia.com/articles/technical/04/033104.asp#:~:text=The%20essential%20part%20is%20that,the%20divine%20proportion%2C%20among%20others.)

In [ ]:
import math 
sqrt5 = math.sqrt(5)
print(sqrt5)
golden_ratio1 = (1+sqrt5)/2
golden_ratio2 = (1-sqrt5)/2
number = int(input("Enter a Number: "))
series = [int(( math.pow(golden_ratio1, n) - math.pow(golden_ratio2,n)) / sqrt5) for n in range(0, number+1 ,1)]
print("nth fibonacci number is : " , series[len(series)-1])
series

2.23606797749979
Enter a Number: 10
nth fibonacci number is :  55

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
import math
number = int(input("Enter a Number: "))
series = [0, 1]
[series.append(sum(int(series[-2:]))) for x in range(number-1)]
print("nth fibonacci number is : " , series[len(series)-1])
print(series)

Enter a Number: 10

TypeError: ignored

**Question Number 7:** Given a list of numbers (hardcoded in the program), write a Python program to calculate the sum of
the list. Do not use any built-in function.

In [ ]:
sum=0
list = [1, 3, 4]
for i in range(len(list)):
  sum+=int(list[i])
sum

8

**Question Number 8:** Given a list of numbers (hardcoded in the program), write a Python program to calculate the sum of
the even-indexed elements in the list.

In [ ]:
list = [1,2,3,4,5,6,7,8]
print(sum(list[1::2]))

20

**Question Number 9:** Given a list of numbers (hardcoded in the program), write a Python program to find the largest and
smallest element of the list. Define two functions largest_number_your-student-id> and
smallest_number_your-student-id> in your program. Do not use any built-in function.

In [ ]:
def largest_number_2019_2_60_040(list):
  max = 0
  for i in range(len(list)):
    if int(list[i]) > max:
      max = int(list[i])
  return max
def smallest_number_2019_2_60_040(list):
  smallest = 100
  for i in range(len(list)):
    if int(list[i]) < smallest:
      smallest = int(list[i])
  return smallest
if __name__ == "__main__":
  list = [1,2,3,4,5,6,7,8,9]
  largest = largest_number_2019_2_60_040(list)
  print("Largest:", largest)
  small = smallest_number_2019_2_60_040(list)
  print("Smallest:", small)

Largest: 9
Smallest: 1

**Question Number 10:** Given a list of numbers (hardcoded in the program), write a Python program to find the second
largest element of the list.

In [20]:
def largest_number_2019_2_60_040(list):
  max1 = 0
  max2 = 0
  for i in range(len(list)):
    if int(list[i]) > max1:
      max2=max1
      max1 = int(list[i])
    elif (int(list[i]) < max1) and (int(list[i] > max2)):
      max2 = int(list[i])
  return max2
if __name__ == "__main__":
  list = [2,54,6,8,6,5,4,7,8]
  second_largest = largest_number_2019_2_60_040(list)
  print("Second Largest:", second_largest)

Second Largest: 8

In [5]:
list = [2,54,6,8,6,5,4,7,8]
list.sort()
list
print(list[len(list)-2])

8

**Question Number 11:** Given a string, display only those characters which are present at an even index number. Read inputs
from the user.

In [25]:
str = input("Enter a String:")
print(str[1::2])

Enter a String:saiful is a bad boy
afli  a o

**Question Number 12:** Given a string and an integer number n, remove characters from a string starting from zero up to n
and return a new string. N must be less than the length of the string. Read inputs from the user. Do
not use any built-in function.

In [27]:
str = 'saiful'
number = 3
if len(str)>number:
  print(str[number:])

ful

In [38]:
str = 'eastwestuniversity'
number = 4
remove_str = ''
for i in range(number,len(str)):
  remove_str = remove_str + str[i]
print(remove_str)

westuniversity

**Question Number 13:**  Given a string, find the count of the substring “CSE303” appeared in the given string. Do not use any
built-in function.

In [43]:
str = 'CSE303 course is the major course of data science. So students must be complete CSE303 course'
count = 0
for i in range(0,len(str),1):
  if str[i]=='C' and str[i+1]=='S' and str[i+2]=='E' and str[i+3] == '3' and str[i+4] == '0'and str[i+5] == '3':
    count = count + 1
count

2