<a href="https://colab.research.google.com/github/saifulislamsarfaraz/Statistics-for-Data-Science/blob/main/Lab_Assignment_Lab_02(Online).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cereal.csv')

In [3]:
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [6]:
list1 = df['calories'].values.tolist()
list1

[70,
 120,
 70,
 50,
 110,
 110,
 110,
 130,
 90,
 90,
 120,
 110,
 120,
 110,
 110,
 110,
 100,
 110,
 110,
 110,
 100,
 110,
 100,
 100,
 110,
 110,
 100,
 120,
 120,
 110,
 100,
 110,
 100,
 110,
 120,
 120,
 110,
 110,
 110,
 140,
 110,
 100,
 110,
 100,
 150,
 150,
 160,
 100,
 120,
 140,
 90,
 130,
 120,
 100,
 50,
 50,
 100,
 100,
 120,
 100,
 90,
 110,
 110,
 80,
 90,
 90,
 110,
 110,
 90,
 110,
 140,
 100,
 110,
 110,
 100,
 100,
 110]

In [17]:
def mean_md_saful(l):
  sum = 0
  for i in l:
    sum = sum + i;
  mean = sum/ len(l)
  return mean

In [18]:
mean_md_saful(list1)

106.88311688311688

In [9]:
def selectionSort(l):
    ln = int(len(l))
    for i in range(ln):
        min_index = i
        for j in range(i + 1, ln):
            if l[j] < l[min_index]:
                min_index = j
        #swap a,b = b,a
        (l[i], l[min_index]) = (l[min_index], l[i])

In [12]:
def median_md_saful(l):
  ln = (len(l))
  if ln%2!=0:
    median= l[int((ln+1)/2)]
  else:
    median= l[int(ln/2 +(ln+1)/2)/2]
  return median

In [14]:
selectionSort(list1)
#print(list1)
median_md_saful(list1)

110

In [15]:
def varience_md_saiful(l):
  mean = mean_md_saful(l)
  sum = 0
  for i in range(0,len(l),1):
    sum+=(l[i]-mean)**2
  return (sum/(len(l)-1))

In [16]:
varience_md_saiful(list1)

379.630895420369