<a href="https://colab.research.google.com/github/saifulislamsarfaraz/Statistics-for-Data-Science/blob/main/Lab_Assignment_Lab_03_(Offline).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('cereal.csv')
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [52]:
list1 = df['calories'].values.tolist()
list2 = df['protein'].values.tolist()
list3 = df['fat'].values.tolist()
list4 = df['sugars'].values.tolist()
list5 = df['carbo'].values.tolist()

In [4]:
def mean_md_saful(l):
  sum = 0
  for i in l:
    sum = sum + i;
  mean = sum/ len(l)
  return mean

In [5]:
def varience_md_saiful(l):
  mean = mean_md_saful(l)
  sum = 0
  for i in range(0,len(l),1):
    sum+=(l[i]-mean)**2
  return (sum/(len(l)-1))

In [39]:
def pearson(x,y):
  x_mean = mean_md_saful(x)
  #print(x_mean)
  y_mean = mean_md_saful(y)
  #print(y_mean)
  x_v = varience_md_saiful(x)
  #print(x_v)
  y_v = varience_md_saiful(y)
  #print(y_v)
  sum = 0
  for i in range(0,len(x),1):
    sum+=((x[i]-x_mean)*(y[i]-y_mean))
  r = sum/((len(x)-1)*(x_v**.5)*(y_v**.5))
  return r

In [62]:
print("correlation between calories & protein ",pearson(list1,list2))
print("correlation between calories & fat ",pearson(list1,list3))
print("correlation between calories & sugars ",pearson(list1,list4))
print("correlation between calories & carbo ",pearson(list1,list5))
print("correlation between protein & fat ",pearson(list2,list3))
print("correlation between protein & sugars ",pearson(list2,list4))
print("correlation between protein & carbo ",pearson(list2,list5))
print("correlation between fat & sugars ",pearson(list3,list4))
print("correlation between fat & carbo ",pearson(list3,list5))
print("correlation between sugars & carbo ",pearson(list4,list5))

correlation between calories & protein  0.01906606823235705
correlation between calories & fat  0.4986098143003878
correlation between calories & sugars  0.5623402898034884
correlation between calories & carbo  0.25068091469892767
correlation between protein & fat  0.2084309895808068
correlation between protein & sugars  -0.32914177735769096
correlation between protein & carbo  -0.1308636475208005
correlation between fat & sugars  0.27081917542068024
correlation between fat & carbo  -0.31804349190832976
correlation between sugars & carbo  -0.3316653780035428

In [60]:
def pair(l):
    ln = int(len(l))
    for i in range(ln):
        #min_index = i
        for j in range(i + 1, ln):
          print("correlation between ",l[i]," and ",l[j])
          res = pearson(df[l[j]].values.tolist(),df[l[i]].values.tolist())
          print(res)

In [61]:
test_list = ['calories', 'protein', 'fat', 'sugars', 'carbo']
pair(test_list)

correlation between  calories  and  protein
0.019066068232357045
correlation between  calories  and  fat
0.49860981430038775
correlation between  calories  and  sugars
0.5623402898034884
correlation between  calories  and  carbo
0.2506809146989276
correlation between  protein  and  fat
0.2084309895808068
correlation between  protein  and  sugars
-0.32914177735769096
correlation between  protein  and  carbo
-0.1308636475208005
correlation between  fat  and  sugars
0.27081917542068024
correlation between  fat  and  carbo
-0.31804349190832976
correlation between  sugars  and  carbo
-0.3316653780035428